<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
</head>
<body>
    <h1>Add New Post</h1>
    <form method="GET" action="/upload/new" style="display: inline-block;">
        <button>New Post</button>
    </form>
    <form method="GET" action="/feeds" style="display: inline-block; margin-left: 75px;">
        <button>Skip</button>
    </form>
</body>
</html>
